<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CRCorrea.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CRCorrea.Properties.Settings>
            <setting name="arquivos" serializeAs="String">
                <value>C:\CasaCorrea\Sistema\Arquivos\</value>
            </setting>
            <setting name="caminhorelatorios" serializeAs="String">
                <value>C:\CasaCorrea\Sistema\Relatorios\</value>
            </setting>
            <setting name="conexaosqlfolha" serializeAs="String">
                <value>Data Source=SERVIDOR-PC\SQLEXPRESS;Initial Catalog=CRCFOLHA;User ID=sa;Password=Apli5800;</value>
            </setting>
            <setting name="conexaorpt" serializeAs="String">
                <value>Data Source=\\SERVIDOR-PC\CasaCorrea\Sistema\Relatorios\;Initial Catalog=RPTSQL;User ID=sa;Password=Apli5800;
</value>
            </setting>
            <setting name="conexaoimagem" serializeAs="String">
                <value>C:\CasaCorrea\ImagensIcones\</value>
            </setting>
            <setting name="conexaosqldados" serializeAs="String">
                <value>Data Source=SERVIDOR-PC\SQLEXPRESS;Initial Catalog=CRCDADOS;User ID=sa;Password=Apli5800;
</value>
            </setting>
            <setting name="conexaosqlbanco" serializeAs="String">
                <value>Data Source=SERVIDOR-PC\SQLEXPRESS;Initial Catalog=CRCBANCO;User ID=sa;Password=Apli5800;</value>
            </setting>
            <setting name="SaidaXML" serializeAs="String">
                <value>c:\CasaCorrea\XML\Saidas\</value>
            </setting>
            <setting name="FocusNFeToken" serializeAs="String">
                <value>mhE0TmoicCHB5zeLTp5x6iprdj1EDvHM</value>
            </setting>
            <setting name="FocusNFeUrl" serializeAs="String">
                <value>https://homologacao.focusnfe.com.br</value>
            </setting>
        </CRCorrea.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="zxing" publicKeyToken="4e88037ac681fe60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.14.0.0" newVersion="0.14.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>